#header {
    font-size: 42px;
}

#header2 {
    font-size: 21px;
}

#input {
    font-family: 'Bree Serif', sans-serif
}

#output_text {
    font-family: 'Bree Serif', sans-serif;
    font-size: 30px;
}

#confirm_text {
    padding: 10px;
    font-family: 'Bree Serif', sans-serif;
    font-size: 25px;
}

.bree {
    font-family: 'Bree Serif', sans-serif
}

.cts_header {
    background-color: #008B8B;
    text-align: center;
}

.output {
    padding: 15px 0px 10px 0px;
    text-align: center;
}

.output_div {
    padding-top: 15px;
}

.confirm_div {
    text-align: center;
}
